#AssignmentSection{
    position: relative;
    background-color: #0B0B0B;
    width: 100%;
}

#AssignmentSection>h1{
    margin: 0;
    top: 7vh;
    left: 5vw;
    position: relative;
}

#sd2{
    color: white;
    font-size: 45px;
    font-family: Quicksand;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    position: absolute;

}

/*---------------Arrows---------------*/
#AssignmentSection>i:nth-child(2){
    color: #bdc3c7;
    position: absolute;
    left: 92vw;
    font-size: 70px;
    top: 45vh;
}

#AssignmentSection>i:nth-child(3){
    color: #bdc3c7;
    ledt: 5vw;
    left: 5vw;
    top: 45vh;
    position: absolute;
    font-size: 70px;
    transform: rotate(180deg);
}
/*-----------------------------------*/



#AssignmentSection>div:nth-child(4){
    border-radius: 10px;
    position: absolute;
    width: 361px;
    height: 360px;
    top: 26vh;
    left: 12vw;
    border: #888888 solid 6px;
}

#AssignmentSection>div:nth-child(4)>img{
    position: absolute;
    width: 360px;
    height: 360px;
    top: 0vh;
    left: 0vw;
}

#AssignmentSection>div:nth-child(5){
    border-radius: 10px;
    position: absolute;
    width: 361px;
    height: 360px;
    top: 26vh;
    left: 38vw;
    border: #888888 solid 6px;
}

#AssignmentSection>div:nth-child(5)>a>img{
    position: absolute;
    width: 360px;
    height: 360px;
    top: 0;
    left: 0;
}

#AssignmentSection>div:nth-child(6){
    border-radius: 10px;
    position: absolute;
    width: 361px;
    height: 360px;
    top: 26vh;
    left: 64vw;
    border: #888888 solid 6px;
}

#AssignmentSection>div:nth-child(6)>img{
    position: absolute;
    width: 360px;
    height: 360px;
    top: 0;
    left: 0;
}

@media all and (max-width: 376px){
   #sd2{
       font-family: Quicksand;
       font-size: 22px;
       font-style: normal;
       color: white;
       font-weight: bold;
   }

    #AssignmentSection>h1{
        margin: 0;
        top: 1vh;
        left: 5vw;
        position: relative;
    }

    #AssignmentSection>div:nth-child(4){
        border-radius: 10px;
        position: absolute;
        width: 82px;
        height: 82px;
        top: 42vh;
        left: 7vw;
        border: #888888 solid 6px;
    }

    #AssignmentSection>div:nth-child(4)>img{
        position: absolute;
        width: 82px;
        height: 82px;
        top: 0vh;
        left: 0vw;
    }

    #AssignmentSection>div:nth-child(5){
        border-radius: 10px;
        position: absolute;
        width: 82px;
        height: 82px;
        top: 42vh;
        left: 37vw;
        border: #888888 solid 6px;
    }

    #AssignmentSection>div:nth-child(5)>a>img{
        position: absolute;
        width: 82px;
        height: 82px;
        top: 0;
        left: 0;
    }

    #AssignmentSection>div:nth-child(6){
        border-radius: 10px;
        position: absolute;
        width: 82px;
        height: 82px;
        top: 42vh;
        left: 67vw;
        border: #888888 solid 6px;
    }

    #AssignmentSection>div:nth-child(6)>img{
        position: absolute;
        width: 82px;
        height: 82px;
        top: 0;
        left: 0;
    }

    #AssignmentSection>i:nth-child(2){
        color: #bdc3c7;
        position: absolute;
        left: 96vw;
        font-size: 21px;
        top: 49vh;
    }

    #AssignmentSection>i:nth-child(3){
        color: #bdc3c7;
        ledt: 5vw;
        left: 2vw;
        top: 49vh;
        position: absolute;
        font-size: 21px;
        transform: rotate(180deg);
    }

}