header{
    background-color: #444444;
    width: 100%;
    height: 55px;
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

/*----------Start Header navigations----------*/

header nav ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 8px;
    top: -3px;
}

header nav a{
    font-family: Quicksand;
    text-decoration: none;
    color: #F9CA24;
    float: right;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 4px;
    font-size: 20px;
    display: flex;

}

header a:hover{
    color: black;
    font-weight: bold;
}
/*----------End Header navigations----------*/

#HomeSec {
    background-color: #000000;
    width: 100%;
    height: 700px;
    position: relative;
    /*top: 22px;*/

    color: #ffffff;
    font-size: 40px;
    font-family: Quicksand;
}


/*--------------Start Name Line---------------*/
#HomeSec h1{
    padding-left: 500px;
    padding-top: 21vh;
    font-size: 76px;
    margin-top: auto;
    margin-bottom: auto;
    position:absolute;

   /* animation-name: topic1;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;*/
}

@keyframes topic1 {
        /*0%{
            padding-top: 21vh;
            left: 0vw;
        }

        100%{
           left: 32vw;
            padding-top: 21vh;
        }*/
}


#HomeSec h2{
    top: 33vh;
     left: 32vw;
    position: absolute;
    font-size: 52px;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;

    animation-name: topic2;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;

}

@keyframes topic2 {
    0%{
        transform: rotateY(0deg);
        color: white;
    }

    100%{
        color: #F9CA24;
        transform: rotateY(360deg);

    }
}


/*--------------End Name Line---------------*/


/*------------------Social media Icons--------*/
#HomeSec a{
    position: relative;
    left: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

#HomeSec>ul>li>a:nth-child(1)>img:hover{
 height: 57px;
    width: 57px;
}

#HomeSec>ul>li>a:nth-child(2)>img:hover{
    height: 57px;
    width: 57px;
}

#HomeSec>ul>li>a:nth-child(3)>img:hover{
    height: 63px;
    width: 63px;
}

#HomeSec>ul>li>a:nth-child(4)>img:hover{
    height: 57px;
    width: 57px;
}

#HomeSec>ul>li>a:nth-child(5)>img:hover{
    height: 57px;
    width: 57px;
}

/*--------------------------------------------*/
#HomeSec #mypic{
    position: absolute;
    right: 1100px;
    left: 0;
    bottom:0;
    top:149px;
    margin: auto;
    height: 550px;
    width: 520px;
}

/*-----------------Main Section--------------------*/
main section ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 123px;
    left: 365px;
    list-style-type: none;
}

button{
    border: #AEAEAE solid 2px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    font-size: 14px;
    height: 35px;
    width: 140px;
    background-color: #000000;
    color: white;
    position: absolute;
    top: 485px;
    right: 70px;
}

button>img{
    top: 0.5vh;
    position: relative;
}

/*@media all and (max-width: 425px){
    header{
        background-color: #444444;
        width: 100%;
        height: 40px;
        position: fixed;
        overflow: hidden;
        z-index: 2;
    }

    !*----------Start Header navigations----------*!

    header nav ul{
        list-style-type: none;
        display: flex;
        position: absolute;
        right: 8px;
        top: -3px;
        width: 96%;
        justify-content: space-between;
    }

    header nav a{
        font-family: Quicksand;
        text-decoration: none;
        color: #F9CA24;
        float: right;
        font-size: 11px;


        }

    header a:hover{
            color: black;
            font-weight: bold;
        }
    !*----------End Header navigations----------*!



}*/

@media all and (max-width: 376px) {
    header {
        background-color: #444444;
        width: 100%;
        height: 55px;
        position: fixed;
        overflow: hidden;
        z-index: 2;
    }

    /*----------Start Header navigations----------*/
    header nav ul {
        margin: auto;
        left: 0;
        right: 0;
        top: 2vh;
        width: 87%;
        justify-content: space-between;
        list-style-type: none;
        display: flex;
        position: absolute;
        flex-wrap: wrap;
    }

    header nav a {
        font-family: Quicksand;
        text-decoration: none;
        color: #F9CA24;
        float: right;
        font-size: 10px;
        display: flex;
    }

    header a:hover {
        color: black;
        font-weight: bold;
    }

    /*----------End Header navigations----------*/
    #HomeSec h1 {
        position: absolute;
        width: max-content;
        right: 0;
        bottom: 0;
        top: -10vh;
        margin: auto;
        font-size: 24px;
        position: absolute;
    }

    #HomeSec h2 {
        bottom: 0;
        margin: auto;
        top: 16vh;
        left: 16vw;
        position: absolute;
        font-size: 22px;
        font-weight: normal;
        animation-name: topic2;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;

    }

    #HomeSec #mypic {
        position: absolute;
        right: 0px;
        left: 0vw;
        bottom: 0;
        top: -15px;
        margin: auto;
        height: 250px;
        width: 250px;
    }

    #HomeSec a {
        position: relative;
        left: 0;
        padding: 0;
        right: 0;
    }


    #HomeSec > ul >li> a:nth-child(1) > img {
        height: 5vh;
        width: 8vw;
    }

    #HomeSec > ul > li>a:nth-child(2) > img {
        height: 5vh;
        width: 8vw;
    }

    #HomeSec > ul >li> a:nth-child(3) > img {
        height: 5vh;
        width: 8vw;
    }

    #HomeSec > ul >li> a:nth-child(4) > img {
        height: 5vh;
        width: 8vw;
    }

    #HomeSec > ul >li> a:nth-child(5) > img {
        height: 5vh;
        width: 8vw;
    }

    #HomeSec > ul > li>a:nth-child(1) > img:hover {
        height: 7vh;
        width: 9vw;
    }

    #HomeSec > ul > li>a:nth-child(2) > img:hover {
        height: 7vh;
        width: 9vw;
    }

    #HomeSec > ul >li> a:nth-child(3) > img:hover {
        height: 7vh;
        width: 9vw;
    }

    #HomeSec > ul >li> a:nth-child(4) > img:hover {
        height: 7vh;
        width: 9vw;
    }

    #HomeSec > ul >li> a:nth-child(5) > img:hover {
        height: 7vh;
        width: 9vw;
    }

    button {
        border: #AEAEAE solid 2px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        text-align: center;
        font-size: 11px;
        height: 22px;
        width: 140px;
        background-color: #000000;
        color: white;
        position: absolute;
        top: 460px;

        right: 0;
        left: 0;
        top: 89vh;
        margin: auto;

    }

    button > img {
        width: 15px;
        height: 15px;
        top: 0.5vh;
        position: relative;
    }

    #HomeSec {
        background-color: #000000;
        width: 100%;
        height: 515px;
        position: relative;
        /*top: 22px;*/

        color: #ffffff;
        font-size: 40px;
        font-family: Quicksand;
    }

    main section ul{
        right: 0;
        width: 71%;
        margin: auto;
        top: 73vh;
        left: 0;
        margin: auto;
        position: absolute;
        list-style-type: none;
        left: 0;
        display: flex;
        justify-content: space-between;
    }


}

