header{
    background-color: #444444;
    width: 100%;
    height: 55px;
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

/*----------Start Header navigations----------*/

header nav ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 8px;
    top: -3px;
}

header nav a{
    font-family: Quicksand;
    text-decoration: none;
    color: #F9CA24;
    float: right;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 4px;
    font-size: 20px;
    display: flex;

}

header a:hover{
    color: black;
    font-weight: bold;
}
/*----------End Header navigations----------*/

#HomeSec {
    background-color: #000000;
    width: 100%;
    height: 700px;
    position: relative;
    /*top: 22px;*/

    color: #ffffff;
    font-size: 40px;
    font-family: Quicksand;
}


/*--------------Start Name Line---------------*/
#HomeSec h1{
    padding-left: 500px;
    padding-top: 21vh;
    font-size: 76px;
    margin-top: auto;
    margin-bottom: auto;
    position:absolute;

   /* animation-name: topic1;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;*/
}

@keyframes topic1 {
        /*0%{
            padding-top: 21vh;
            left: 0vw;
        }

        100%{
           left: 32vw;
            padding-top: 21vh;
        }*/
}


#HomeSec h2{
    top: 33vh;
     left: 32vw;
    position: absolute;
    font-size: 52px;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;

    animation-name: topic2;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;

}

@keyframes topic2 {
    0%{
        transform: rotateY(0deg);
        color: white;
    }

    100%{
        color: #F9CA24;
        transform: rotateY(360deg);

    }
}


/*--------------End Name Line---------------*/


/*------------------Social media Icons--------*/
#HomeSec a{
    position: relative;
    left: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

#HomeSec>ul>a:nth-child(1)>img:hover{
 height: 57px;
    width: 57px;
}

#HomeSec>ul>a:nth-child(2)>img:hover{
    height: 57px;
    width: 57px;
}

#HomeSec>ul>a:nth-child(3)>img:hover{
    height: 61px;
    width: 61px;
}

#HomeSec>ul>a:nth-child(4)>img:hover{
    height: 57px;
    width: 57px;
}

#HomeSec>ul>a:nth-child(5)>img:hover{
    height: 57px;
    width: 57px;
}

/*--------------------------------------------*/
#HomeSec #mypic{
    position: absolute;
    right: 1100px;
    left: 0;
    bottom:0;
    top:149px;
    margin: auto;
    height: 550px;
    width: 520px;
}

/*-----------------Main Section--------------------*/
main section ul{
    position: absolute;
    bottom: 123px;
    left: 365px;
    list-style-type: none;
}

button{
    border: #AEAEAE solid 2px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    font-size: 14px;
    height: 35px;
    width: 140px;
    background-color: #000000;
    color: white;
    position: absolute;
    top: 485px;
    right: 70px;
}

button>img{
    top: 0.5vh;
    position: relative;
}



@media all and (min-width: 414px){

    /*header>nav>ul{
        margin: auto;
        left: 0;
        right: 0;
        justify-content: space-between;
    }

    header>nav>ul>li:nth-child(1){
        top: -1vh;
        position: absolute;
        width: 7vw;
    }

    header>nav>ul>li:nth-child(2){
        top: -1vh;
        position: absolute;
        width: 35vw;
    }

    header>nav>ul>li:nth-child(3){
        top: -1vh;
        position: absolute;
        width: 56vw;
    }

    header>nav>ul>li:nth-child(4){
        top: -1vh;
        position: absolute;
        width: 89vw;
    }

    header>nav>ul>li:nth-child(5){
        top: 2vh;
        position: absolute;
        width: 18vw;
    }

    header>nav>ul>li:nth-child(6){
        top: 2vh;
        position: absolute;
        width: 41vw;
    }

    header>nav>ul>li:nth-child(7){
        top: 2vh;
        position: absolute;
        width: 68vw;
    }

    header>nav>ul>li:nth-child(8){
        top: 2vh;
        position: absolute;
        width: 94vw;
    }*/


}
